@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: Roboto;
}

p,
span {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
div,
p,
span {
  font-weight: normal;
  color: var(--primary-text);
}

p,
span {
  line-height: 1.5;
}

button {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  all: unset;
  font-size: 1.4rem;
  cursor: pointer;
}

span, input {
  all: unset;
  font-size: 1.4rem;
}

:root {
  --main-bg: #1b1b1d;
  --secondary-bg: #2b323c;
  --tertiary-bg: #222328;
  --main-color: #a5caff;
  --purple: #aea5ff;
  --secondary-color: #63a4ff;
  --text-color: #fefefe;
  --calculation-color: #a5caff;
  --result-color: #63a4ff;
}

.light-theme {
  --main-bg: #ffffff;
  --secondary-bg: #f6f7fc;
  --tertiary-bg: #ecf0fc;
  --main-color: #a5caff;
  --purple: #aea5ff;
  --secondary-color: #63a4ff;
  --text-color: #1b1b1d;
  --calculation-color: #1b1b1d;
  --result-color: #1b1b1d;
}

.btn-s {
  color: var(--calculation-color);
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  background: var(--tertiary-bg);
  transition: 0.2s;
}
.btn-s:active {
  border-radius: 1rem;
}

.btn {
  width: 7rem;
  min-width: 7rem;
  height: 7rem;
  min-height: 7rem;
  background: var(--tertiary-bg);
  color: var(--text-color);
  border-radius: 50%;
  font-size: 2.2rem;
  text-align: center;
  transition: 0.2s;
}
.btn i {
  color: #ea7270;
}
.btn:active {
  border-radius: 2rem;
}

.btn-operation, .plus-minus {
  background: var(--main-color);
  color: inherit;
  font-size: 3rem;
}

.equals-btn {
  background: var(--secondary-color);
  color: inherit;
  font-size: 3rem;
}

.btn-clear-all {
  background: var();
}

main {
  height: 100vh;
  background: var(--main-bg);
}

section {
  width: 100%;
  max-width: 35rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin: auto;
}

#screen {
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 15rem;
  background: var(--secondary-bg);
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 0 0 3rem 3rem;
}

#calculation {
  width: 100%;
  border: none;
  background: inherit;
  color: var(--calculation-color);
  caret-color: var(--secondary-color);
  overflow: auto;
  font-size: 2.6rem;
  resize: none;
}
#calculation:focus-within {
  outline: none;
}

#result {
  width: 100%;
  height: 4rem;
  color: var(--result-color);
  font-size: 4rem;
}

#history {
  display: none;
  flex-direction: column;
  overflow: auto;
  max-height: 100%;
}
#history .history__item {
  color: var(--calculation-color);
  font-size: 2.6rem;
}

#keypad {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: 1rem;
  justify-items: center;
  padding: 2rem;
  margin: auto;
}

#tab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;
  padding: 1rem 2rem 0 2rem;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: var(--main-color);
  border-radius: 2.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 2.5rem;
}

:root {
  scrollbar-color: #ea7270 #ebb6b5 !important;
  scrollbar-width: thin !important;
}

/*# sourceMappingURL=main.css.map */
