:root {
  --main-bg: #1b1b1d;
  --secondary-bg: #2b323c;
  --tertiary-bg: #222328;
  --main-color: #a5caff;
  --purple: #aea5ff;
  --secondary-color: #63a4ff;
  --text-color: #fefefe;
  --calculation-color: #a5caff;
  --result-color: #63a4ff;
}